.team {
  min-height: 110vh;
  padding: 160px var(--side-space) 80px;

  background-image: url(../images/gameFeatures.png);
  background-position: 100% top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.team svg {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .team {
    padding-top: 100px;
  }
}
